body {
  background: black;
  color: white;
}

body.blurred {
  background: gray;
}

button {
  height: 100px;
  width: 400px;
  color: white;
  display: block;
}

.the-button {
  background: green;
}

.skip {
  background: #333333;
  display: none;
}

body.call .skip {
  display: block;
}

body.blurred button {
  opacity: 0.5;
}

.the-button.no-more {
  background: #a20000;
}

.the-button:not(.no-more) .no-more-content {
  display: none;
}

.the-button.no-more .default-content {
  display: none;
}

body.call .the-button {
  background: #006ad8;
}
